body
{
  background-image: url("../img/segundo.jpg");
}
#titulo
{
  background: #26A69A;
}
#titulo1
{
  background: #F5F5F5;
}
#titulo2
{
  background: #FB8C00;
}
#titulo3
{
  background: #29B6F6;
}

#headerh1
{
  text-align: center;
  color: white;
  margin: 150px 0px 0px 0px;
}
#headerp
{
  text-align: center;
  color: white;
}
.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(248, 248, 248, 0);

}
.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

